<div class="admin-page">
    <header>
      <h1>Welcome to the Admin Panel</h1>
    </header>
    <main>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed faucibus aliquet nisl, sit amet efficitur eros.</p>
      <p>Vestibulum vel nulla euismod, fermentum ipsum nec, condimentum eros. Sed bibendum metus eu lorem consectetur.</p>
      <div class="buttons">
        <button class="login-button" routerLink="/admin_interface/login">Login</button>
        <button class="register-button" routerLink="/admin_interface/register">Register</button>
      </div>
      <router-outlet></router-outlet>
    </main>
  </div>
