<div class="user-interface">
    <header>
      <h1>Welcome to Our User Interface</h1>
    </header>
    <main>
        <p>Discover a seamless user experience with our intuitive interface designed to meet your needs.</p>
        <p>Explore a world of possibilities as you navigate through our user-friendly platform.</p>
        <p>Ready to get started? Choose your next action:</p>
      <div class="buttons">
        <button class="login-button" routerLink="/user_interface/login">Login</button>
        <button class="register-button"routerLink="/user_interface/register">Register</button>
      </div>
    </main> 
    <router-outlet></router-outlet>
  </div>
 