/* change-password.component.css */
.form-group {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input[type="password"] {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  input[type="password"]:focus {
    outline: none;
    border-color: #007bff;
  }
  
  .text-success {
    color: green;
  }
  
  .text-danger {
    color: red;
  }
  
  .submit-button {
    cursor: pointer;
    padding: 10px 20px;
    background-color: #2bbec6;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .password-strength {
    margin-top: 5px;
  }
  
  .password-strength span {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 5px;
    border-radius: 50%;
  }
  
  .password-weak {
    background-color: #dc3545;
  }
  
  .password-medium {
    background-color: #ffc107;
  }
  
  .password-strong {
    background-color: #28a745;
  }
  h2 {
    text-align: center;
  }