<div class="registration-container">
    <h2>user Registration</h2>
    <form (ngSubmit)="registerAdmin()" #userregistration="ngForm">
        <div class="form-group">
            <label for="id">ID:</label>
            <input  type="number" id="id" name="id" [(ngModel)]="user.id" required>
          </div>
          <div class="form-group">
            <label for="name">Email:</label>
            <input type="name" id="name" name="Email" [(ngModel)]="user.email" required>
          </div>
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="name" id="name" name="name" [(ngModel)]="user.Name" required>
      </div>
      <div class="form-group">
        <label for="age">Age:</label>
        <input type="number" id="age" name="age" [(ngModel)]="user.age" required>
      </div>
      <div class="form-group">
        <label for="password">password:</label>
        <input type="password" id="password" name="password" [(ngModel)]="user.password" required>
      </div>
      <button type="submit" [disabled]="userregistration.invalid">Register</button>
    </form>
    <p class="instructions">Please enter your email and password to register as an user.</p>
    <div [ngClass]="{'success-message':!iferror,'error-message':iferror}" *ngIf="message">
      {{ message }}
    </div>
    <div class="login-container">
        <p>Already registered? 
        <button class="login-button" (click)="redirecttoLogin()">Login</button>
      </div>
   
  </div>
  
