<div class="faq-container">
    <h1>Frequently Asked Questions</h1>
    <div class="faq-list">
      <div class="faq-item">
        <h2 class="question">How do I create a new account?</h2>
        <p class="answer">To create a new account, click on the 'Sign Up' button at the top right corner of the page and follow the instructions.</p>
      </div>
      <div class="faq-item">
        <h2 class="question">How can I contact customer support?</h2>
        <p class="answer">You can contact our customer support team via email at support demo1&#64;project.com or by phone at +123456789.</p>
      </div>
     
    </div>
  </div>
  
