<div class="container">
    <h2>Dashboard</h2>
    <p>Welcome to the dashboard!</p>
    <p>This is where you can view important insights and data related to your user management system.</p>
  
    <div class="login-options">
      <h3>Login Options</h3>
      <ul>
        <li><a routerLink="/admin_interface">Admin-login</a></li>
        <li><a routerLink="/user_interface">User-login</a></li>
        <!-- Add more login-related links as needed -->
      </ul>
    </div>
    <div class="related-links">
      <h3>Related Information</h3>
      <ul>
        <li><a href="/FAQS">FAQs</a></li>
        <li><a href="/Documentation">Documentation</a></li>
        <li><a href="/contact">Contact Us</a></li>
        <!-- Add more related information links as needed -->
      </ul>
    </div>
  </div>
  