/* Styles for header */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  
  .logo h1 {
    margin: 0;
    font-size: 1.5em;
  }
  
  nav ul {
    list-style: none;
    padding-left: 10px;
    margin: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li:last-child {
    margin-right: 0;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  nav ul li a:hover {
    text-decoration: underline;
  }
  #designedBY{
    position: absolute;
    width: auto;
    color: red;
  }