
    <div class="content">
      <h2>Welcome to the User Management System</h2>
      <p>This is a powerful system designed to manage users, roles, and permissions efficiently.</p>
      <p>With our intuitive interface and robust features, you can streamline your user management process and improve productivity.</p>
      <p>Experience seamless user administration, role assignment, and permission management all in one place.</p>
      <div class="cta">
        <p>Ready to revolutionize your user management?</p>
        <button routerLink="/dashboard">Get Started</button>
      </div>
      <router-outlet></router-outlet>
    </div>
 
  

  <!-- <div class="sidebar">
       Sidebar content goes here
      <h3>Sidebar</h3>
      <ul>
        <li><button routerLink="/dashboard" routerLinkActive="active">Dashboard</button></li>
        <li><button routerLink="/login" routerLinkActive="active">Users</button></li>
        <li><button routerLink="/roles" routerLinkActive="active">Roles</button></li>
        <li><button routerLink="/permissions" routerLinkActive="active">Permissions</button></li>
        <li><button routerLink="/settings" routerLinkActive="active">Settings</button></li>
      </ul>
    </div> -->